@model IEnumerable<Bangazon.Models.GroupedProductType>

@{
    ViewData["Title"] = "GetAllProducts";

}



<table class="table">
    <thead>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <br />
                     @Html.DisplayFor(modelItem => item.Label) 
                </td>

            </tr>
        <td>
            @foreach (Product item2 in item.Products)
            {
                <dd>

                    @Html.DisplayFor(modelItem => item2.Title)
                </dd>

            }
        </td>
    }
        </tbody>
    </table>
