@model IEnumerable<Bangazon.Models.ProductTypeViewModels.GroupedProductType>

@{
    ViewData["Title"] = "Index";
  
}



    <table class="table">
        <thead>
            
        </thead>
        <tbody>
           
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <br />
                        <a asp-controller="ProductTypes" asp-action="Details" asp-route-id="@item.ProductTypeId"> @Html.DisplayFor(modelItem => item.Label)  (@Html.DisplayFor(modelItem => item.Count))</a>      
                    </td>

                </tr>
        <td>
                @foreach (Product item2 in item.Products.Take(3))
                {
            <dd>
               
                @Html.DisplayFor(modelItem => item2.Title)</dd>
  
            }
        </td>
            }
            </tbody>
        </table>
